<div class="tab-content m-3" >
    <div class="container" style="margin-top:100px;">
      <div class="row p-3">
				<div class="col-xs-12 col-md-4">
          <div class="card property">
            <div class="card-body">
            <% @orders.each do |order| %>
              <h3 class="card-title text-primary">ICI CA BOSS <%= order.id %> ouech</h3>
            <% end %>
            </div>
          </div>
        </div>
				</div>
    </div>
</div>