<%= render "layouts/navbar" %>


<section class="hero hero-with-header"  style="background-color:#14439C;"">
      <div class="container" style="color: #FF7F50!important;">
        <div class="row">
          <div class="col-md-8">
            <h1 data-swiper-parallax="-100%" class="display-3">Find your next<br><b  style="color: #FF7F50!important;">home sweet home</b></h1>

            <p><span>Browse all our properties to find your next flat in a minute.</span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="hero hero-with-header">

    </section>


<%= render "layouts/footer" %>