    <div class="col-md-12 col-lg-12">
      <div class="card text-center">
        <div class="card-header">
          Êtes-vous prêts à passer à l'action ?
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=total_price%> €</h5>
          <a href="#" class="btn btn-primary">Commander</a>
        </div>
      </div>
    </div>