    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-right" src="<%=asset_path('sofa.jpg')%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Property.title</h5>
          <p class="card-text">Property.description</p>
          <a href="#" class="btn btn-blue">Commander</a>
        </div>
      </div>
    </div>