    <div class="col-md-12 col-lg-12">
      <div class="card text-center">
        <div class="card-header">
          Êtes-vous prêts à passer à l'action ?
        </div>
        <div class="card-body">
          <h5 class="card-title">sum @properties.price €</h5>
          <p class="card-text">Ohhhhh ouiiiii</p>
          <a href="#" class="btn btn-blue">Commander</a>
        </div>
      </div>
    </div>