<div class="tab-content m-3" >
    <div class="container">
      <div class="row p-3">
				<div class="col-4">
          <div class="card property">
            <div class="card-body">
              <h3 class="card-title text-blue">Superbe T3</h3>
              <h5>1 200 €/mois</h5>
              <p class="card-text">
              <ul>
                <li>3 pièces</li>
                <li>90 m2</li>
                <li>2 chambres</li>
              </ul>
              </p>
              <a href="#" class="btn btn-orange">Découvrir</a>
            </div>
          </div>
        </div>
				<div class="col-8">
          <img src="<%=asset_path('sample.jpg')%>" alt="">
        </div>
        
				</div>
    </div>

</div>