<div class="tab-pane active show" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">

                <div class="row">
                  <div class="col">
                    <h5 class="mb-2 fs-20 font-weight-normal">Profile Information</h5>
                    <form>


                   	 <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="email" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="secondName">Second Name</label>
                            <input type="email" class="form-control" id="secondName" aria-describedby="secondName" placeholder="Doe">
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="userMail">Email address</label>
                            <input type="email" class="form-control" id="userMail" aria-describedby="userMail" placeholder="johndoe@example.com">
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="userCity">City</label>
                            <input type="email" class="form-control" id="userCity" aria-describedby="userCity" placeholder="New York">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="userCountry">Country</label>
                            <input type="email" class="form-control" id="userCountry" aria-describedby="userCountry" placeholder="United States">
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-3">
                          <button class="btn btn-secondary">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>




