<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/images/demo/image-square-4.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="" class="eyebrow mb-1">Design</a>
          <h4 class="card-title mb-0"><a href="">Planning amazing weddings that you won’t forget.</a></h4>
        </div>
        <div class="card-footer">
          <div class="row align-items-center">
            <div class="col-8">
              <a href="" class="btn btn-ico btn-rounded btn-outline-primary"><i class="icon-arrow-right2 fs-20"></i></a>
            </div>
            <div class="col-4 text-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#"><i class="icon-heart2"></i> 50 likes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>